@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    background-color: #0B0D0D;
    color: white;
    font-family: 'Oswald', sans-serif;
}


@media (max-width: 376px) {
	.sec1_infos h2 {
		font-size: 55px;
	}
}

@media (max-width: 480px) {
	.menu_names {
		display: none;
	}

	header h1 {
		display: none;
	}

	.menu_icons {
		display: flex;
		flex-direction: row;
		margin: 0 auto;
		padding: 0px;
	}
	header ul li {
		margin: 0 1em;
	}

	.section1 {
		margin-top: 0px;
		text-align: center;
	}

	.grid_sec2 {
		display: grid;
		grid-template-columns: auto;
		gap: 0px;
	}

	.grid_sec2 h2 {
		text-align: center;
	}

	.lindao img {
		width: 100%;
		height: 
	}

	.grid_sec3 {
    display: grid;
    grid-template-columns: auto;
    gap: 2em;

	}

	.grid_sec5 {
	    display: grid;
	    grid-template-columns: auto;
	    gap: 2em;
	}

	.grid_sec4 {
		display: grid;
		grid-template-columns: auto;
	}
